body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.service-box {
  background: #fdfdfd;
  border: 1px solid #89bf04;
  padding: 8px 20px;
  min-height: 240px;
}

.service-box > p {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    color: #727272;
    padding-top: 10px;
}

.service-box > a {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: bolder;
  color: #3c3c3c;
  text-decoration: none;
}

.service-box > a:hover {
  border-bottom:2px solid;
}

.service-shortcuts {
  margin-left: 0px;
  padding-left: 0px;
  border-top: 1px dashed #c6c6c6;
  padding-top: 10px;
}

.service-shortcuts li {
  display: inline;
}

.service-shortcuts li a{
  font-family: "Open Sans";
  display: inline;
  border-bottom: 1px solid;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  color: #205f9f;
  line-height: 1.8;
}

#dls-banner {
  padding-left: 8%;
  padding-right: 5%;
}

.navbar-dls {
    background: #89bf04;
    border-color: #89bf04;
    min-height: 70px;
}

.navbar-brand-dls {
  font-family: "Open Sans";
  font-size: 26px;
  line-height: 40px;
}

.navbar-brand-dls sup {
  font-family: Arial;
  font-size: .65em;
}

.navbar-brand-dls span {
  color: #e4f1c3;
}

.nav-dls {
  font-family: "Open Sans";
  font-size: 22px;
  margin-top: 10px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.media-heading {
    margin-top: 15px;
    margin-bottom: 15px;
}

.media-heading sup {
    font-family: Arial;
    font-size: .65em;
}

.media-heading .media-heading-primary {
  font-family: "Open Sans";
  font-size: 45px;
  font-weight: normal;
  color: #373737;
  -webkit-filter: drop-shadow(1px 1px 0.8px #777777);
  filter: drop-shadow(1px 1px 0.8px #777777);
}

.media-heading .media-heading-secondary {
  font-weight: bolder;
}

.media-body p {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 18px;
  color: #1b1b1b;
}

.jumbotron {
  background: #f9fdef;
}


/* font awsom*/
.custom-icon {
  background: #e4f1c3;
  border-radius: 100%;
  color: #89bf04;
  display: table-cell;
  font-size: 60px;
  height: 60px;
  padding: 20px;
  text-align: center;
  transition: .5s;
  vertical-align: middle;
  width: 60px;
}
.fix-editor {
  display: none;
}
.icon-wrapper {
  display: inline-block;
  padding-top: 26px;
  padding-right: 20px;
}
